<!DOCTYPE html>

<html lang="en">


<% include ../head %>


    <body>
        <div class="dashboard">
            <% include header %>
                <section class="main">
                    <ul class="list">
                        <% data.forEach(function(todo) {%>
                            <li class="list--item">
                                    <label for="">帳號名稱：</label>
                                    <label for=""><%= todo.username %></label>
                                
                                <div class="btns">

                                    <!-- <a href="/dashboard/edit?id=<%= todo.id %>">修改</a> -->
                                    <!-- <button href="/dashboard/edit?id=<%= todo.id %>" class="btnUpdate" data-id="<%= todo.id %>" data-num="" type="button">
                                        修改 </button>
                                    <button class="btnDelete" data-id="<%= todo.id %>" data-num="" type="button">
                                        刪除</button> -->
                                </div>
                            </li>
                            <% }); %>
                    </ul>
                </section>

                <% include ../footer %>

        </div>
        <script src="/public/js/main.js"></script>
    </body>